div(class="span4")
	h5 Purchase Orders: {{customer.name}}
	div(class="" ng-controller="PurchaseOrdersCtrl")
		table(class="table bordered")
			thead
				tr
					td Order Number
					td Total
					td Paid
			tbody
				tr(class="po-{{order.order_number}} purchase-order {{controls.isActive(order.order_number) && 'active'}} hover-{{hover}}" ng-mouseover="hover=true" ng-mouseleave="hover=false" ng-repeat="order in data.orders|orderObjectBy:'order_number'" ng-click="controls.setActiveOrder(order.order_number)")
					td(class="numeric-column") {{order.order_number}}
					td(class="numeric-column") ${{order.amount_total}}
					td {{order.paid}}
		button(class="btn default hide float-right" ng-click="controls.addOrder()") Add Purchase Order
		div(class="float-right balance-update-{{params.balanceUpdate}} customer-balance-container")
			p(class="padding-0 margin-0") Balance: ${{customer.balance}}/${{customer.credit_limit}}